//----------
// variables
//----------
$mobile: 550px;
$tablet: 768px;
$small-desktop: 950px;
$desktop: 1024px;
$max-width: 1280px;

$white: #fff;
$black: #000;
$red: #ea0000;
$gray: #333;
$gray-light: #cbcbcb;
$gray-dark: #a2a2a2;
$yellow: #fcb040;
$green: #44a80a;
$blue: #1277b7;
$blue-dark: #0c5381;
$blue-light: #e5f6fe;

//----------
// Fonts
//----------
$sans-serif: 'Helvetica', Arial, sans-serif;
$roboto: 'Roboto', $sans-serif;
$roboto-condensed: 'Roboto Condensed', $sans-serif;
